<?xml version='1.0' encoding='utf-8'?>
<widget id="it.metododiretto.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>CIAO</name>
  <description>CIAO – Communicator for Immersive Audio-Oral learning. Italian with the direct method: look, listen, answer.</description>
  <content src="index.html" />
  <allow-intent href="market:*" />
  <preference name="Orientation" value="portrait" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="BackgroundColor" value="0xff0e131d" />
  <platform name="android">
    <preference name="AndroidWindowSplashScreenBackground" value="#0e131d" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/splash-it.png" />
    <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#0e131d" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <icon density="mdpi" src="res/android/it/icon-mdpi.png" foreground="res/android/it/fg-mdpi.png" background="res/android/bg-mdpi.png" />
    <icon density="hdpi" src="res/android/it/icon-hdpi.png" foreground="res/android/it/fg-hdpi.png" background="res/android/bg-hdpi.png" />
    <icon density="xhdpi" src="res/android/it/icon-xhdpi.png" foreground="res/android/it/fg-xhdpi.png" background="res/android/bg-xhdpi.png" />
    <icon density="xxhdpi" src="res/android/it/icon-xxhdpi.png" foreground="res/android/it/fg-xxhdpi.png" background="res/android/bg-xxhdpi.png" />
    <icon density="xxxhdpi" src="res/android/it/icon-xxxhdpi.png" foreground="res/android/it/fg-xxxhdpi.png" background="res/android/bg-xxxhdpi.png" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <queries>
        <intent><action android:name="android.speech.RecognitionService" /></intent>
        <intent><action android:name="android.intent.action.TTS_SERVICE" /></intent>
      </queries>
    </config-file>
  </platform>
</widget>
